[submodule "Devices/RadioControlProtocol"]
	path = Devices/rcLib/RadioControlProtocol
	url = https://github.com/ToolboxPlane/RadioControlProtocol.git
[submodule "Devices/rcLib/RadioControlProtocolCpp"]
	path = Devices/rcLib/RadioControlProtocolCpp
	url = git@github.com:ToolboxPlane/RadioControlProtocolCpp.git
