[submodule "Utilities/SI"]
	path = Utilities/SI
	url = https://github.com/teamspatzenhirn/SI.git
[submodule "Filters/MessageCoding/Lib/Messages"]
	path = Filters/MessageCoding/Lib/Messages
	url = git@github.com:ToolboxPlane/Messages.git
